body {
    width: 70%;
}
form {
    display: flex;
    flex-direction: column;
}

#login_form, #entry_form {
    padding: 1%;
    width: 30%;
    border: solid 1px black;
    -webkit-box-shadow: 22px 26px 79px 17px rgba(130,117,130,0.73);
    -moz-box-shadow: 22px 26px 79px 17px rgba(130,117,130,0.73);
    box-shadow: 22px 26px 79px 17px rgba(130,117,130,0.73)
}
form input {
    margin: 1%;
}
form input[type=submit] {
    width: 50%;
    align-self: center;
    margin: 1%;
    background: none;

}
#login_form, #login_form input, #entry_form, #entry_form input, #logout_form input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#logout_form {
    width: 30%;
    padding-bottom: 5%;
}
#logout_form input[type=submit] {
    align-self: flex-start;
}
#entry_form {
    width: 70%;
}
table {
    margin-top: 5%;
    table-layout: fixed;
    width: 75%
}
table td {
    border: solid 1px black;
    word-wrap: break-word;
    display: table-cell;
    text-align: center;
}
table tr th:nth-child(1){
    width: 60%;
  }
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color:lightgray;
}
