<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/guestbook.css" />
<body>

    <form method="POST">
        <label for="content">Message: </label>
        <textarea name="content" id="content" cols="30" rows="3" required></textarea>
        <label for="name">Name: </label>
        <input type="text" name="name" required>
        <input type="submit" value="Submit">
    </form>

    <table>
    	{% for entry in entries %}
		<tr>
		    <td> {{ entry.content }} </td>
		    <td> {{ entry.author }} </td>
		    <td> {{ entry.date }} </td>
		</tr>
        {% endfor %}
    </table>
</body>
</html>
